@{
    ViewBag.Title = "Home Page";
}

<h1>
    User Info
</h1>
<h3>@User.Identity.Name</h3>
<h3>@User.Identity.IsAuthenticated</h3>
<h3>@User.Identity.AuthenticationType</h3>

@ViewBag.one
<p>
    @Html.Encode(ViewBag.one)
</p>